@page
@model WebYoutubeDownload.Pages.DownloadModel
@{
    ViewData["Title"] = "Download";
}

@{
    string GetColorCard()
    {
        string[] colors = {
        "bg-yellow border--yellow",
        "bg-green border--green",
        "bg-lime border--lime",
        "bg-orange border--orange",
        "bg-red border--red",
        "bg-fuchsia border--fuchsia",
        };
        Random rnd = new Random();
        int index = rnd.Next(0, 5);  // creates a number between 0 and 5
        return colors[index];
    }
}
<div class="row">
    @foreach (var f in Model.Files)
    {
        <div class="col-md-6 mt-3">
            <div class="card text-white @GetColorCard() p-1 text-center">
                <div class="card-body">
                    <h2 class="card-title">@System.IO.Path.GetExtension(f.Name)</h2>
                    <p class="card-text">@f.Name | @f.CreationTime </p>
                    <form action="download-file" method="post">
                        <input type="hidden" name="file" value="@f.Name" />
                        <button class="btn btn-primary">Download</button>
                    </form>

                    <video width="100" height="60" controls>
                        <source src="download/@f.Name" >
                        Your browser does not support the video tag.
                    </video>
                </div>

            </div>
        </div>
    }
</div>

